---
# task file to ensure users and groups exists

- name: Ensure group "{{ docker_group }}" exists.
  become: true
  group:
    name: "{{ docker_group }}"
    state: "{{ docker_group_desired_state }}"

- name: Ensure user "{{ docker_user }}" with group "{{ docker_group }}" exists.
  become: true
  user:
    name: "{{ docker_user }}"
    comment: Docker user
    group: "{{ docker_group }}"
    home: "{{ docker_user_home }}"
    shell: "{{ docker_user_shell }}"
    state: "{{ docker_user_desired_state }}"

- name: Add users "{{ docker_nonroot_users }}" to group "{{ docker_group }}" if specified.
  become: true
  user:
    name: "{{ item }}"
    groups: "{{ docker_group }}"
    append: yes
  with_items: "{{ docker_nonroot_users }}"
  # when:
  #   - docker_add_nonroot_users_to_group_boolean
